@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para o cursor personalizado */
@media (min-width: 768px) {
  .custom-cursor {
    cursor: none !important;
  }
  
  .custom-cursor * {
    cursor: none !important;
  }
  
  .custom-cursor a, 
  .custom-cursor button,
  .custom-cursor [role="button"],
  .custom-cursor input,
  .custom-cursor select,
  .custom-cursor textarea {
    cursor: none !important;
  }
}
